* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}
// 格線會讓子元素改為區塊元素
#banner{
    background-image: url(./img/banner.png);
    width: 1920px;
    height: 1280px;
    display: grid;
    align-items: center;
// 行內元素
    img{
        // 區塊才能使用
        margin: 0 auto;
    }

}
// 導覽列
nav{
    // 固定
    position: fixed;
    width: 1920px;

    a{
        text-decoration: none;
        color: white;
    }


    // 導覽列內的盒子
    #box{
        margin: 59px auto 0;
        width: 1200px;
        display: grid;
        grid-template-columns: 204px 351px 398px 120px 110px;

        #link{
            display: grid;
            grid-template-columns: repeat( 3 , 1fr);

            a{
                font-size: 18px;
                font-weight: 100;

                &:nth-child(2){
                    text-align: center;
            }
                &:nth-child(3){
                    text-align: center;
            }

            
        }
            
            
        }

        #social{
            display: grid;
            grid-template-columns: repeat(2 ,1fr);

            a:ntc-child(2){
                text-align: right;
            }

        }
    }
}

// 內容區塊
#contect{
    width: 1920px;
    height: 800px;
    background-image: url(./img/paper.png);

    h1{
        text-align: center;
        margin-top: 46px;
        font-weight: 300;
        letter-spacing: 9.6px;
        font-size: 32px;

    }
}