$green: #49aa45;
$gray333: #333333;

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}
// 格線會讓子元素改為區塊元素
#banner{
    background-image: url(./img/banner.png);
    width: 1920px;
    height: 1280px;
    display: grid;
    align-items: center;
// 行內元素
    img{
        // 區塊才能使用
        margin: 0 auto;
    }

}
// 導覽列
nav{
    // 固定
    position: fixed;
    width: 1920px;

    a{
        text-decoration: none;
        color: white;
    }


    // 導覽列內的盒子
    #box{
        margin: 59px auto 0;
        width: 1200px;
        display: grid;
        grid-template-columns: 204px 351px 398px 120px 110px;

        #link{
            display: grid;
            grid-template-columns: repeat( 3 , 1fr);

            a{
                font-size: 18px;
                font-weight: 100;

                &:nth-child(2){
                    text-align: center;
            }
                &:nth-child(3){
                    text-align: center;
            }

            
        }
            
            
        }

        #social{
            display: grid;
            grid-template-columns: repeat(2 ,1fr);

            a:ntc-child(2){
                text-align: right;
            }

        }
    }
}

// 內容區塊
#contect{
    width: 1920px;
    background-image: url(./img/paper.png);
    border:  0.1px solid rgba(0, 0, 0, 0);

    h1{
        text-align: center;
        margin-top: 46px;
        margin-bottom: 60px;
        font-weight: 300;
        letter-spacing: 9.6px;
        font-size: 32px;

    }
}
// 最新消息
#news{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 20px;

    > div{
        background-color: white;
        padding: 40px 30px;

        h3{
            color: $green;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 3.6px;
            text-align: center;
            margin: 25px ;
        }

        h4{
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 5.5px;
            text-align: center;


        }

        p{
            color: $gray333;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.88;
            letter-spacing: 4.8px;
            margin-top: 22px;
            margin-bottom: 30px;
                }
        
        hr{
            border: 0.5px solid #000000;
            width: 0;
            transition: 0.5s;
        }

        div{
            position: relative;
            font-size: 0;
        }

        div::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: 1;
            opacity: 0;
            transition: 0.5s;

        }

        img{
            width: 100%;
        }

        &:hover{
            hr{
                width: 100%;
            }

            div::before{
                opacity: 0.5;
            }
        }

    }

}

// 推薦飲品

#product{
    text-align: center;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    
    div{
        width: 250px;
        height: 400px;
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        position: absolute;
        top: 73px;
        right: 50px;
        padding: 0;


        h2{
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 11px;
            text-align: center;
            color: #f5bb28;
            margin-bottom: 20px;
        }

        h3{
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 3px; 
            text-align: center;
            color: #cccccc;
            margin-bottom: 35px;
        }

        p{
           font-size: 20px;
           line-height: 2.5;
           letter-spacing: 5px;
           text-align: left;
           color: #000000; 
        }


        
    }

}

// 經營理念
#text{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 620px auto;
    grid-gap: 40px;
    padding-right: 30px;
    

    img{
        border: 10px solid white;
    }

    div{
        width: 480px;
        height: 300px;
        
        

        h2{
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 7.2px;
            text-align: left;   
            color: #000000;
            margin-bottom: 50px;
        }

        p{
            font-size: 20px;
            font-weight: 300;
            line-height: 2.5;
            letter-spacing: 6px;
            text-align: left;
            color: #000000;
            margin-bottom: 50px;
            

        }

        a{
            font-size: 18px;
            font-weight: 300;
            padding: 18px 50px ;
            letter-spacing: 5.4px;
            text-align: center;
            color: #000000;
            border: solid 2px #252525;
            background-color: rgba(0, 0, 0, 0);
            text-decoration: none;  
        }
    }
}

// 頁尾
footer{
    text-align: center;
    img{
        margin: 126px 0 73px;
    }
    p{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 3.6px;
        // 指定p內第一行內容作變化
        &:nth-of-type(1){
            margin-bottom: 17px;
        }
        // 指定p內第二行內容作變化 
        &:nth-of-type(2){
            margin-bottom: 137px;
        }
    }
}
